<aside class="sidebar">
  <div class="sb-block p-sticky">
    {{ with i18n "slot-sidebar" }}
    <div class="sb-block-title mh-62">{{.}}</div>
    {{ end }}
    <div class="sb-top-casinos-list">
      {{$casinos := where .Site.RegularPages "Type" "casino" }}
      {{$casinos = where $casinos "Params.sidebar" true }}
      {{ range sort $casinos ".Params.rating" "desc" }}
      <div class="tc-item">
        <a href="{{ .Permalink}}" class="item-logo logo-shine" rel="nofollow">
          <amp-img loading="lazy" src="{{ .Params.Icon | default `/images/default.png`}}"
            data-src="{{ .Params.Icon | default `/images/default.png` }}" title="{{ .Params.Name }}"
            alt="{{ .Params.Name }}" width="120" height="60" layout="responsive">
          </amp-img>
        </a>
        <div class="item-info">
          <a href="{{ .Permalink}}" class="item-title">{{ .Params.Name }}</a>
          <div class="btn-wrap">
            <div class="rate">{{.Params.Rating}}</div>
            <button class="btn btn-yellow"
              data-link="{{cond (gt  (len .Params.Referral) 1) .Params.Referral .Site.Params.Referral }}"
              style="cursor: initial;">{{ i18n "play" .}}</button>
          </div>
        </div>
      </div>
      {{end}}
    </div>
  </div>
</aside>
