<aside class="sidebar sidebar-float">
  <div class="sidewrap" style="">
    <div class="sb-block">
      {{ with i18n "slot-sidebar" }}
      <div class="sb-block-title mh-62">{{.}}</div>
      {{ end }}
      <div class="sb-top-casinos-list">
        {{$casinos := where (where .Site.RegularPages "Type" "casino") "Params.sidebar" true}}
        {{ range sort $casinos ".Params.rating" "desc" }}
        <div class="tc-item">
          <a href="{{ .Permalink}}" class="item-logo logo-shine" rel="nofollow">
            <amp-img src="{{ .Params.Icon | default `/images/default.png`}}"
              src="{{ .Params.Icon | default `/images/default.png` }}" title="{{ .Params.Name }}"
              alt="{{ .Params.Name }}" width="120" height="60" layout="responsive">
            </amp-img>
          </a>
          <div class="item-info">
            <a href="{{ .Permalink}}" class="item-title">{{ .Params.Name }}</a>
            <div class="btn-wrap">
              <div class="rate">{{.Params.Rating}}</div>
              <button class="btn btn-yellow"
                data-link="{{cond (gt  (len .Params.Referral) 1) .Params.Referral .Site.Params.Referral }}"
                style="cursor: initial;">{{ i18n "play" .}}</button>
            </div>
          </div>
        </div>
        {{end}}
      </div>
    </div>
</aside>
