<amp-inline-gallery layout="container">
  <amp-base-carousel class="bonuses-list " width="1060" height="470" layout="responsive" snap-align="center" loop
    visible-count="1" lightbox>
    <div class="item-wrap">
      <div class="item-card">
        <a href="cashmio-casino-review.html" class="item-logo logo-shine" rel="nofollow">
          <span class="data-holder">Launched in 2015</span>
          <img src="template/images/placeholders/casino-logo-240x180.png"
            data-src="/images/casino/cashmio-casino-online.jpg" alt="Сashmio Casino" title="Сashmio Casino" width="240"
            height="180">
        </a>
        <div class="item-info">
          <div class="item-top-info">
            <div class="item-bonus">
              <div class="bonus-text">Cashmio Welcome Bonus 2022 20 Free Spins After Registration</div>
              <div class="popover-block close-pop">
                <div class="popover-link-btn">T&amp;Cs Apply</div>
                <div class="hider">
                  New players only. 18+. On your first deposit you can get a 50% bonus up to €30! and 10 Free
                  Spins on Dwarfs Gone Wild! The initial deposit and related bonus have to be wagered 30 times
                  each and within 7 days, or the bonus and winnings will be automatically forfeited
                </div>
              </div>
            </div>
            <div class="review-link-holder">
              <div class="rate">83</div>
              <a href="cashmio-casino-review.html" class="review-link" title="Сashmio Casino">Read Review</a>
            </div>
          </div>

          <div class="btn-wrap">
            <button class="btn btn-yellow" title="Click to go to Сashmio Casino" data-link="cashmio">Sign Up to
              Play</button>
          </div>

        </div>
      </div>
    </div>
    <div class="item-wrap">
      <div class="item-card">
        <a href="cashmio-casino-review.html" class="item-logo logo-shine" rel="nofollow">
          <span class="data-holder">Launched in 2015</span>
          <img src="template/images/placeholders/casino-logo-240x180.png"
            data-src="/images/casino/cashmio-casino-online.jpg" alt="Сashmio Casino" title="Сashmio Casino" width="240"
            height="180">
        </a>
        <div class="item-info">
          <div class="item-top-info">
            <div class="item-bonus">
              <div class="bonus-text">Cashmio Welcome Bonus 2022 20 Free Spins After Registration</div>
              <div class="popover-block close-pop">
                <div class="popover-link-btn">T&amp;Cs Apply</div>
                <div class="hider">
                  New players only. 18+. On your first deposit you can get a 50% bonus up to €30! and 10 Free
                  Spins on Dwarfs Gone Wild! The initial deposit and related bonus have to be wagered 30 times
                  each and within 7 days, or the bonus and winnings will be automatically forfeited
                </div>
              </div>
            </div>
            <div class="review-link-holder">
              <div class="rate">83</div>
              <a href="cashmio-casino-review.html" class="review-link" title="Сashmio Casino">Read Review</a>
            </div>
          </div>

          <div class="btn-wrap">
            <button class="btn btn-yellow" title="Click to go to Сashmio Casino" data-link="cashmio">Sign Up to
              Play</button>
          </div>

        </div>
      </div>
    </div>
    <div class="item-wrap">
      <div class="item-card">
        <a href="cashmio-casino-review.html" class="item-logo logo-shine" rel="nofollow">
          <span class="data-holder">Launched in 2015</span>
          <img src="template/images/placeholders/casino-logo-240x180.png"
            data-src="/images/casino/cashmio-casino-online.jpg" alt="Сashmio Casino" title="Сashmio Casino" width="240"
            height="180">
        </a>
        <div class="item-info">
          <div class="item-top-info">
            <div class="item-bonus">
              <div class="bonus-text">Cashmio Welcome Bonus 2022 20 Free Spins After Registration</div>
              <div class="popover-block close-pop">
                <div class="popover-link-btn">T&amp;Cs Apply</div>
                <div class="hider">
                  New players only. 18+. On your first deposit you can get a 50% bonus up to €30! and 10 Free
                  Spins on Dwarfs Gone Wild! The initial deposit and related bonus have to be wagered 30 times
                  each and within 7 days, or the bonus and winnings will be automatically forfeited
                </div>
              </div>
            </div>
            <div class="review-link-holder">
              <div class="rate">83</div>
              <a href="cashmio-casino-review.html" class="review-link" title="Сashmio Casino">Read Review</a>
            </div>
          </div>

          <div class="btn-wrap">
            <button class="btn btn-yellow" title="Click to go to Сashmio Casino" data-link="cashmio">Sign Up to
              Play</button>
          </div>

        </div>
      </div>
    </div>
    <div class="item-wrap">
      <div class="item-card">
        <a href="cashmio-casino-review.html" class="item-logo logo-shine" rel="nofollow">
          <span class="data-holder">Launched in 2015</span>
          <img src="template/images/placeholders/casino-logo-240x180.png"
            data-src="/images/casino/cashmio-casino-online.jpg" alt="Сashmio Casino" title="Сashmio Casino" width="240"
            height="180">
        </a>
        <div class="item-info">
          <div class="item-top-info">
            <div class="item-bonus">
              <div class="bonus-text">Cashmio Welcome Bonus 2022 20 Free Spins After Registration</div>
              <div class="popover-block close-pop">
                <div class="popover-link-btn">T&amp;Cs Apply</div>
                <div class="hider">
                  New players only. 18+. On your first deposit you can get a 50% bonus up to €30! and 10 Free
                  Spins on Dwarfs Gone Wild! The initial deposit and related bonus have to be wagered 30 times
                  each and within 7 days, or the bonus and winnings will be automatically forfeited
                </div>
              </div>
            </div>
            <div class="review-link-holder">
              <div class="rate">83</div>
              <a href="cashmio-casino-review.html" class="review-link" title="Сashmio Casino">Read Review</a>
            </div>
          </div>

          <div class="btn-wrap">
            <button class="btn btn-yellow" title="Click to go to Сashmio Casino" data-link="cashmio">Sign Up to
              Play</button>
          </div>

        </div>
      </div>
    </div>
  </amp-base-carousel>

</amp-inline-gallery>
