<div class="bonus-params">

  <div class="param-row">
    <div class="param-name">Bonus type:</div>
    <div class="param-value">Welcome</div>
  </div>


  <div class="param-row">
    <div class="param-name">Minimum deposit:</div>
    <div class="param-value">$25</div>
  </div>


  <div class="param-row">
    <div class="param-name">Valid Only for Games:</div>
    <div class="param-value">All slots</div>
  </div>


  <div class="param-row">
    <div class="param-name">Valid Only for Games Types:</div>
    <div class="param-value">Slots</div>
  </div>


  <div class="param-row">
    <div class="param-name">Valid Only for Payments:</div>
    <div class="param-value">All are available</div>
  </div>


  <div class="param-row">
    <div class="param-name">Providers:</div>
    <div class="param-value">RTG</div>
  </div>

</div>
