<div class="evaluate-list">
  <div class="evaluate-item">
    <div class="icon icon-ratings"></div>
    <div class="item-info">
      <div class="item-title">About Ratings</div>
      <div class="item-text">Cumulative score of key aspects & essential casino services</div>
    </div>
  </div>
  <div class="evaluate-item">
    <div class="icon icon-games"></div>
    <div class="item-info">
      <div class="item-title">Games</div>
      <div class="item-text">Extensive capabilities of real money gaming & sports betting</div>
    </div>
  </div>
  <div class="evaluate-item">
    <div class="icon icon-bonuses"></div>
    <div class="item-info">
      <div class="item-title">Bonuses</div>
      <div class="item-text">Exclusive bonus offers & loyal wagering conditions</div>
    </div>
  </div>
  <div class="evaluate-item">
    <div class="icon icon-support"></div>
    <div class="item-info">
      <div class="item-title">Support/Service</div>
      <div class="item-text">24/7 multi-channel customer-oriented approach</div>
    </div>
  </div>
  <div class="evaluate-item">
    <div class="icon icon-finances"></div>
    <div class="item-info">
      <div class="item-title">Finances</div>
      <div class="item-text">Smooth & hassle free monetary transactions handling</div>
    </div>
  </div>
  <div class="evaluate-item">
    <div class="icon icon-comments"></div>
    <div class="item-info">
      <div class="item-title">Real Comments</div>
      <div class="item-text">Real customers reviews & gaming experience involved</div>
    </div>
  </div>
  <div class="evaluate-item">
    <div class="icon icon-languages"></div>
    <div class="item-info">
      <div class="item-title">Languages</div>
      <div class="item-text">User-friendly multilingual gaming across the globe</div>
    </div>
  </div>
  <div class="evaluate-item">
    <div class="icon icon-software"></div>
    <div class="item-info">
      <div class="item-title">Software</div>
      <div class="item-text">Competitive solutions in the globe gaming environment</div>
    </div>
  </div>
  <div class="evaluate-item">
    <div class="icon icon-extras"></div>
    <div class="item-info">
      <div class="item-title">Extras</div>
      <div class="item-text">Unique features affecting end-user convenience</div>
    </div>
  </div>
</div>
