<div class="item-card">
  <span class="item-logo logo-shine" rel="nofollow">
    <amp-img src="{{.Params.Thumbnail}}" data-src="{{.Params.Thumbnail}}" alt="{{.Params.Name}}"
      title="{{.Params.Name}}" width="200" height="150" data-loaded="true"></amp-img>
  </span>

  <div class="item-info">
    <div class="item-top-info">
      <div class="item-bonus">
        <div class="bonus-text">{{.Params.welcome_bonus | safeHTML}}</div>
        {{ with .Params.Term }}
        <div class="popover-block close-pop">
          <div class="popover-link-btn">{{i18n "term"}}</div>
          <div class="hider">{{.}}</div>
        </div>
        {{ end }}
      </div>
      <div class="review-link-holder">
        <div class="rate">{{.Params.Rating}}</div>
      </div>
    </div>
    <div class="btn-wrap">
      <button class="btn btn-yellow"
        data-link="{{cond (gt  (len $.Params.Referral) 1) $.Params.Referral $.Site.Params.Referral }}"
        style="cursor: initial;">{{ i18n "reg-btn" .}}</button>
    </div>
  </div>
</div>
