<div class="slot-item">
  <a href="{{.Permalink}}" class="item-head">
    <span class="item-logo">
      <amp-img loading="lazy" src="{{.Params.Icon }}" title="{{.Params.Name}}" data-src="{{.Params.Icon }}"
        alt="{{.Params.Name}}" width="162" height="126"></amp-img>
    </span>
    <span class="item-title">{{.Params.Name}}</span>
  </a>
  <div class="item-params">
    <div class="param-row">
      {{ with i18n "lines" . }}
      <div class="param-name">{{.}}:</div>
      {{ end }}
      {{ with .Params.Lines }}
      <div class="param-value">{{ . }}</div>
      {{ end }}
    </div>
    <div class="param-row">
      {{ with i18n "reels" . }}
      <div class="param-name">{{.}}:</div>
      {{ end }}
      {{ with .Params.reels }}
      <div class="param-value">{{ . }}</div>
      {{ end }}
    </div>
    <div class="param-row">
      {{ with i18n "freeSpins" . }}
      <div class="param-name">{{.}}:</div>
      {{ end }}
      {{ with .Params.freeSpins }}
      <div class="param-value">{{ . }}</div>
      {{ end }}
    </div>
  </div>
</div>
