{{ define "main" }}
<main class="main">
  {{ partial "breadcrumbs.html" . }}
  <div class="container">
    <div class="block-with-sidebar">
      {{ partial "sidebar/stiky-casino.html" . }}
      <div class="content">
        <div class="content-block content-text">
          {{ with .Params.h1 }}
          <h1>{{.}}</h1>
          {{ end }}
          {{ with .Params.subtitle }}{{. | safeHTML }}{{ end }}
          {{ with .Params.blockquote }}{{ . | safeHTML }}{{ end }}
          {{$posts := where .Site.RegularPages "Type" "in" "blog" }}
          {{ if $posts }}
          <div class="blog-list">
            {{ range sort $posts ".Date" "desc" }}
            {{ partial "parts/summary-blog.html" . }}
            {{ end }}
          </div>
          {{ end }}
        </div>
      </div>
    </div>

</main>
{{ end }}
