{{ define "main" }}
<main class="main">
  {{/* {{ partial "breadcrumbs.html" . }} */}}
  <div class="container">
    <div class="content-block content-text">

      {{ with .Params.H1 }}
      <h1>{{.}}</h1>
      {{ end }}
      {{ with .Content }}
      <div class="toc-container">
        <div class="toc-title">{{i18n "page-nav"}}:<span class="show-toc" data-show="Show"
            data-hide="Hide">[Show]</span>
        </div>
        <div class="toc-list-wrap" id="page-navigation"></div>
      </div>
      {{ end }}
      {{ with .Params.Subtitle }}
      <p style="text-align: center;">{{. | safeHTML}}</p>
      {{ end }}
      {{ with .Params.blockquote }}
      <blockquote>{{. | safeHTML}}</blockquote>
      {{ end }}
    </div>
    {{ with .Content }}
    <div class="content-block content-text">{{.}}</div>
    {{ end }}

  </div>
</main>
{{ end }}
