<script async src="https://cdn.ampproject.org/v0.js"></script>
<script custom-element="amp-inline-gallery" src="https://cdn.ampproject.org/v0/amp-inline-gallery-0.1.js"
  async></script>
<script custom-element="amp-base-carousel" src="https://cdn.ampproject.org/v0/amp-base-carousel-0.1.js" async></script>
<script custom-element="amp-lightbox-gallery" src="https://cdn.ampproject.org/v0/amp-lightbox-gallery-0.1.js"
  async></script>
<script type="application/ld+json">
  {
    "@context" : "http://schema.org",
    "@type" : "Organization",
    "name" : "{{ .Site.Params.SiteName }}",
    "url" : "",
    "logo" : "images/favicons/logo-512.png"
  }
  </script>
