<header class="header">
  <div class="container">
    <div class="header-left">
      <div title="iMoneySlots" class="site-logo">
        {{$logo := resources.GetMatch .Site.Params.Logo }}
        <a href="/">
          <img src="{{ $logo.Permalink }}" data-src="{{ $logo.Permalink }}" title=" {{ .Site.Params.SiteName}}"
            alt="{{ .Site.Params.SiteName}}" width="126" height="62">
        </a>
      </div>
    </div>
    <nav class="main-navigation">
      <ul>
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <li>
          {{ $active := or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
          {{ $active = or $active (eq .Name $currentPage.Title) }}
          {{ $active = or $active (and (eq .Name "Blog") (eq $currentPage.Section "post")) }}
          {{ $active = or $active (and (eq .Name "Tags") (eq $currentPage.Section "tags")) }}
          <a class="nav-item {{ if $active }}active{{ end }}" href="{{ .URL }}">
            {{$menuIcon := resources.GetMatch .Params.icon}}
            <i style="background-image: url({{$menuIcon.Permalink}})"></i>
            {{ .Name }}
          </a>
        </li>
        {{ end }}
      </ul>
    </nav>
    {{$casino := where (where .Site.RegularPages "Type" "in" "casino") "Params.header" "==" true }}
    {{ if $casino }}
    <div class="header-right">
      <div class="editors-chose">
        <div class="ec-icon">
          <i class="best-star" data-count="{{len $casino}}"></i>
        </div>
        <div class="ec-content">
          <div class="ec-header">
            {{ with i18n "header-card-title" }}<div class="title">{{.}}</div>{{ end }}
            {{ with i18n "header-card-subtitle" }}<div class="text">{{.}}</div>{{ end }}
            <div class="ec-close"></div>
          </div>

          <div class="ec-body">
            {{ range $item := $casino }}
            <div class="ec-item">
              {{ with .Params.Best }}
              <div class="item-type">{{.}}</div>
              {{ end }}

              <a href="{{.Permalink}}" class="item-body">
                <span class="item-logo logo-shine">
                  <img src="{{.Params.Icon}}" data-src="{{.Params.Icon}}" title="{{.Params.name}}"
                    alt="{{.Params.name}}" width="120" height="60" data-loaded="true">
                </span>
                <span class="item-info">
                  <span class="item-title-block">
                    {{ with .Params.Name }}<span class="item-title">{{.}}</span>{{ end }}
                    {{ with .Params.rating }}<span class="rate item-rate">{{.}}</span>{{ end }}
                  </span>
                  {{ with .Params.Hello_text }}<span class="item-text">{{.}}</span>{{ end }}
                </span>
              </a>

            </div>
            {{ end }}

          </div>
        </div>
      </div>
      <div class="mob-nav-btn">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    {{ end }}

  </div>
</header>
