<header class="header">
  <span id="top"></span>
  <div class="container">
    <div class="header-left">
      <div title="iMoneySlots" class="site-logo">
        {{$logo := resources.GetMatch .Site.Params.Logo }}
        <a href="/">
          <amp-img src="{{ $logo.Permalink }}" src="{{ $logo.Permalink }}" title=" {{ .Site.Params.SiteName}}"
            alt="{{ .Site.Params.SiteName}}" width="126" height="35"></amp-img>
        </a>
      </div>
    </div>
    <nav class="main-navigation" id="main-navigation">
      <ul>
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <li>
          {{ $active := or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
          {{ $active = or $active (eq .Name $currentPage.Title) }}
          {{ $active = or $active (and (eq .Name "Blog") (eq $currentPage.Section "post")) }}
          {{ $active = or $active (and (eq .Name "Tags") (eq $currentPage.Section "tags")) }}
          <a class="nav-item {{ if $active }}active{{ end }}" href="{{ .URL }}">
            {{$menuIcon := resources.GetMatch .Params.icon}}
            <i style="background-image: url({{$menuIcon.Permalink}})"></i>
            {{ .Name }}
          </a>
        </li>
        {{ end }}
      </ul>
    </nav>
    {{$casino := where (where .Site.RegularPages "Type" "in" "casino") "Params.header" "==" true }}
    {{ if $casino }}
    <div class="header-right">
      <div class="editors-chose" id="best-casinos" role="button" tabindex="0"
        on="tap:best-casinos.toggleClass(class='opened')">
        <div class="ec-icon">
          <i class="best-star" data-count="{{len $casino}}"></i>
        </div>
        <div class="ec-content">
          <div class="ec-header">
            {{ with i18n "header-card-title" }}<div class="title">{{.}}</div>{{ end }}
            {{ with i18n "header-card-subtitle" }}<div class="text">{{.}}</div>{{ end }}
            <div class="ec-close"></div>
          </div>

          <div class="ec-body">
            {{ range $item := $casino }}
            <div class="ec-item">
              {{ with .Params.Best }}
              <div class="item-type">{{.}}</div>
              {{ end }}

              <a href="{{.Permalink}}" class="item-body">
                <span class="item-logo logo-shine">
                  <img src="{{.Params.Icon}}" src="{{.Params.Icon}}" title="{{.Params.name}}"
                    alt="{{.Params.name}}" width="120" height="60" data-loaded="true">
                </span>
                <span class="item-info">
                  <span class="item-title-block">
                    {{ with .Params.Name }}<span class="item-title">{{.}}</span>{{ end }}
                    {{ with .Params.rating }}<span class="rate item-rate">{{.}}</span>{{ end }}
                  </span>
                  {{ with .Params.Hello_text }}<span class="item-text">{{.}}</span>{{ end }}
                </span>
              </a>

            </div>
            {{ end }}

          </div>
        </div>
      </div>
      <div class="mob-nav-btn" id="mob-nav-btn" role="button" tabindex="0" on="tap:mob-nav-btn.toggleClass(class='opened'),main-navigation.toggleClass(class='opened')">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    {{ end }}

  </div>
<amp-position-observer on="enter:hideAnim.start; exit:showAnim.start" layout="nodisplay"></amp-position-observer>
</header>

<amp-animation id="showAnim" layout="nodisplay">
  <script type="application/json">
    {
      "duration": "200ms",
       "fill": "both",
       "iterations": "1",
       "direction": "alternate",
       "animations": [
         {
           "selector": "#scrollToTopButton",
           "keyframes": [
             { "opacity": "1", "visibility": "visible" }
           ]
         }
       ]
    }
  </script>
</amp-animation>
<!-- ... and the second one is for adding the button.-->
<amp-animation id="hideAnim" layout="nodisplay">
  <script type="application/json">
    {
     "duration": "200ms",
       "fill": "both",
       "iterations": "1",
       "direction": "alternate",
       "animations": [
         {
           "selector": "#scrollToTopButton",
           "keyframes": [
             { "opacity": "0", "visibility": "hidden" }
           ]
         }
       ]
   }
  </script>
</amp-animation>