{{define `main`}}
{{$todayYear := now.Format "2006"}}
<main class="main">
  <div class="container">
    <div class="block-with-sidebar reverse">
      <div class="content flex">
        <div class="content-block content-text">
          {{ with .Params.H1 }}
          <h1 class="mb-0">{{.}}</h1>
          {{ end }}
            <div class="toc-container" id="page-nav">
              <div class="toc-title">{{i18n "page-nav"}}:<span class="show-toc" data-show="[Show]" data-hide="[Hide]"
                  on="tap:page-nav.toggleClass(class='open')" role="button" tabindex="0"></span>
              </div>
              <div class="toc-list-wrap">
                {{$toc := .TableOfContents}}
                {{$toc = replace $toc `ul` `ol`}}
                {{$toc = replace $toc `<ol>` `<ol class='toc-list'>`}}
                {{$toc = replace $toc `<a` "<amp-img alt='✅' class='menu_emoji' width='16' height='16' src='/images/ficons/icons/svg/1828/1828614.svg'></amp-img><span" }} 
                {{$toc = replace $toc `href="#` `on=tap:` }} 
                {{$toc = replace $toc `"` `.scrollTo(duration=200)` }} 
                {{$toc = replace $toc `<span` `<span role="button" tabindex="0" ` }} 
                {{$toc | safeHTML}} 
              </div>
            </div>
            {{ with .Params.Subtitle }}
            {{. | safeHTML}}
            {{ end }}
        </div>
      </div>
      {{ partial "sidebar/casino.html" . }}
    </div>
  </div>
  <div class="white-block">
    <div class="container">
      <div class="block-with-sidebar">
        {{ partial "sidebar/software.html" . }}
        {{$slots := first 20 (shuffle (where .Site.RegularPages "Type" "slots"))}}
        {{$casino := first 10 (shuffle (where site.RegularPages "Type" "in" "casino")) }}
        {{ if or $slots $casino }}
        <div class="content flex">
          <div class="content-block">
            <div class="title-with-btn">
              {{ with i18n "top-slot" (dict "Date" $todayYear ) }}
              <h2 class="block-title">{{. }}</h2>
              {{ end }}

            </div>
            <div class="rows slots-list">
              {{ range $item := $slots.ByWeight }}
              {{ if $item.Params.Home }}
              {{ partial "parts/slot-card.html" . }}
              {{ end }}
              {{ end }}

            </div>
            {{ with $btnText := i18n "see-all" }}
            {{ with $.Site.GetPage "slots" }}
            <div class="title-with-btn " style="justify-content: center;margin-bottom: 20px;">
              <a href="{{ .Permalink }}" class="btn-more">{{$btnText}}</a>
            </div>
            {{ end }}
            {{ end }}
            {{ with i18n "top-casino" }}
            <h2>{{.}}</h2>
            {{ end }}
            {{ if $casino }}
            <div class="table-casinos">
              <div class="table-head">
                <div class="head-title">{{i18n "online-casino"}}</div>
                <div class="head-rating">{{i18n "rating"}}</div>
                <div class="head-bonus">{{i18n "welcome-bonus"}}</div>
                <div class="head-btns"></div>
              </div>
              <div class="table-body">
                {{ range $item :=sort $casino ".Params.rating" "desc" }}
                {{ if $item.Params.home}}
                {{ partial "parts/casino-item-welcome.html" . }}
                {{ end }}
                {{ end }}
              </div>
            </div>
            {{ end }}

          </div>
        </div>
        {{ end }}

      </div>
    </div>
  </div>
  {{ if .Content }}
  <div class="container">
    <div class="content-block">
      {{.Content}}

    </div>
  </div>
  {{ end }}

</main>
{{end}}
