{{ define "main" }}
{{/* {{ printf "%#v" .Params.software }} */}}
<main class="main" itemscope="" itemtype="http://schema.org/Casino">
  {{ partial "breadcrumbs.html" . }}
  <div class="container">
    <div class="casino-main-info">
      <meta itemprop="name" content="{{ .Params.Name }}">
      <meta itemprop="url" content="{{ .Site.BaseURL }}{{ .RelPermalink }}">
      <meta itemprop="priceRange" content="$$">
      <meta itemprop="logo image" content="{{ .Site.BaseURL }}{{ .Params.Thumbnail }}">
      <div style="display: none;" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
        <meta itemprop="itemReviewed" content="{{ .Params.Name }}">
        <meta itemprop="bestRating" content="100">
        <meta itemprop="worstRating" content="1">
        <meta itemprop="ratingValue" content="{{.Params.Rating }}">
        <meta itemprop="ratingCount" content="5">
      </div>
      <div class="cmi-left">
        <div class="casino-logo logo-shine"
          data-link="{{cond (gt  (len $.Params.Referral) 1) $.Params.Referral $.Site.Params.Referral }}">
          {{$casinoImage := cond (gt (len .Params.Thumbnail) 1) .Params.Thumbnail .Site.Params.DefaultImg }}
          <amp-img src="{{ $casinoImage }}" data-src="{{ $casinoImage }}" alt="{{ .Params.Name }}"
            title="{{ .Params.Name }}" width="240" height="180" data-loaded="true"></amp-img>
        </div>
      </div>
      <div class="cmi-center">
        <h1>{{ .Params.H1 }}</h1>
        <div class="params">
          {{with .Params.Website }}
          <div class="param-row">
            <div class="param-name"><i class="param-site"></i>{{ i18n "website" . }}:</div>
            <div class="param-value"><span data-link="https://{{.}}" class="site-link">{{.}}</span></div>
          </div>
          {{end}}
          {{ with .Params.Software }}
          <div class="param-row">
            <div class="param-name"><i class="param-soft"></i>{{ i18n "soft" . }}:</div>
            <div class="param-value">
              {{ range $ind,$val := . }}
              {{ $path := print "/software/" $val ".md" | urlize}}
              {{- with site.GetPage $path -}}
              <a href="{{ .Permalink }}">{{ .Params.Name }}</a>
              {{- else -}}
              {{$val}}
              {{- end -}}
              {{if lt (add $ind 1) (len $.Params.Software ) }},{{end}}
              {{ end }}
            </div>
          </div>
          {{end}}

        </div>
        <div class="players-from-wrap">
          {{/* <div class="players-from">
            <div class="flag32x32 ua"></div>Players from UA
            accepted
          </div> */}}
          {{ with .Params.BonusCode }}
          <div class="casinopage-promocode param-promocode" data-copied="Copied">
            <div class="casinopage-promocode-title">{{ i18n "bonus-code" . }}:</div>
            <div class="casinopage-promocode-value code">{{.}}</div>
          </div>
          {{ end }}

        </div>
      </div>
      <div class="cmi-right">
        {{ with $arrayRating := .Params.CasinoRank}}
        {{$rating := 0}}
        <div class="rating">
          <div class="rate">
            {{ range $item := . }}
            {{$rank := echoParam $item `value`}}
            {{$rating = add $rating $rank}}
            {{ end }}
            {{$rating = div $rating (len $arrayRating ) }}
            {{$rating}}
          </div>
        </div>
        {{ end }}
        <div class="btns-wrap">
          <button class="btn btn-yellow"
            data-link="{{cond (gt  (len .Params.Referral) 1) .Params.Referral .Site.Params.Referral }}"
            style="cursor: initial;">{{ i18n "reg-btn" .}}</button>
          <div class="leave-comment" data-anchor="#leave-comment">{{ i18n "read-comment-btn" .}}</div>
        </div>
      </div>
    </div>
  </div>
  {{ with $anchors := .Params.pageAnchor }}
  <div class="anchors-block-wrap">
    <div class="container">
      <div class="anchors-block">
        {{ range $anchors }}
        <div class="anchor-item">
          {{ range $elem_key, $elem_val := . }}
          <span data-anchor="#{{ $elem_key }}">{{ $elem_val }}</span>
          {{ end }}
        </div>
        {{ end }}
      </div>
    </div>
  </div>
  {{ end }}

  <div class="container">
    <div class="content-block">
      {{ with i18n "casino-info" . }}
      <h2>{{.}}</h2>
      {{ end }}
      <div class="tabs l-2007">
        <div class="tabs-control">
          {{ range $key, $item := .Params.tabs }}
          <div class="tabs-switcher {{if eq $key 0}}active{{end}}" data-target="{{ echoParam $item `id`}}"><i
              class="tabs-{{ echoParam $item `id`}}"></i>{{ echoParam $item "title"}}
          </div>
          {{ end }}
        </div>
        <div class="tabs-content">
          {{ range $key, $item := .Params.tabs }}
          {{ $section := echoParam $item `id`}}
          <div class="tabs-item {{if eq $key 0}}open{{end}}" data-tab="{{ $section }}">
            <div class="casino-tabs-params">
              {{ range $params := $.Params.CasinoInfo }}
              {{ $id := echoParam $params `id` }}
              {{ $title := echoParam $params `title` }}
              {{ $value := echoParam $params `value` }}
              {{ $itemSection := echoParam $params `section` }}
              {{if(eq $section $itemSection)}}
              <div class="param-row">
                <div class="param-name"><i class="param-{{$id}}"></i>{{$title}}:</div>
                <div class="param-value">{{$value}}</div>
              </div>
              {{end}}
              {{end}}
            </div>
          </div>
          {{ end }}
        </div>
      </div>

      <div class="casino-three-blocks">
        {{ with $casinoGames := .Params.CasinoGames }}
        <div class="ctb-item">
          {{ with i18n "casino-games" . }}
          <div class="block-title">
            <h2>{{ . }}</h2>
          </div>
          {{ end }}
          <div class="block-content casino-options">
            {{ range $value := $casinoGames }}
            {{$title := echoParam $value "title"}}
            {{$status := echoParam $value "status"}}
            {{$image := echoParam $value "image"}}
            <div class="option-item status-{{$status}}">
              <div class="caption">{{$title}}</div>
              <i {{with $image}} style="background-image:url({{.}}) ;" {{end}}></i>
            </div>
            {{ end }}
          </div>
        </div>
        {{ end }}
        {{ with $casinoInfo := .Params.CasinoInfo }}
        <div class="ctb-item">
          {{ with i18n "welcome-bonus" . }}
          <div class="block-title">
            <h2>{{ . }}</h2>
          </div>
          {{ end }}
          <div class="block-content ctb-bonus">
            <div class="bonus">
              {{$.Params.welcome_bonus | safeHTML}}
            </div>
            <div class="bonus-param">
              {{ range $params := $casinoInfo}}
              {{ $id := echoParam $params `id` }}
              {{ $title := echoParam $params "title" }}
              {{ $value := echoParam $params `value` }}
              {{ $section := echoParam $params `section2` }}
              {{ if (eq $section "welcome")}}
              <div class="param-row">
                <div class="param-name">{{$title}}:</div>
                <div class="param-value">{{$value}}</div>
              </div>
              {{end}}
              {{ end }}
            </div>

            <div class="bonus-terms">
              {{- with $.Params.Term -}}{{ . }}{{- end -}}
            </div>


            <div class="btn-wrap">
              <button class="btn btn-yellow"
                data-link="{{cond (gt  (len $.Params.Referral) 1) $.Params.Referral $.Site.Params.Referral }}"
                style="cursor: initial;">{{ i18n "get-bonus" .}}</button>
            </div>

          </div>
        </div>
        {{ end }}
        {{ with $casinoRank := .Params.CasinoRank }}
        {{$rating := 0}}
        <div class="ctb-item">
          {{ with i18n "casino-rank" . }}
          <div class="block-title">
            <h2>{{ . }}</h2>
          </div>
          {{ end }}
          <div class="block-content casino-ratings">
            <div class="ratings-list">
              {{ range $item := $casinoRank }}
              {{$title := echoParam $item "title" }}
              {{$value := echoParam $item "value" }}
              {{$rating = add $rating $value}}
              <div class="rating-row">
                <div class="rating-name">{{$title}}:</div>
                <div class="rating-value">{{$value}}</div>
              </div>
              {{ end }}
            </div>
            <div class="rating-total">
              <i class="sum-sign"></i>
              {{$rating = div $rating (len $casinoRank ) }}
              <div class="rate">{{$rating}}</div>
            </div>
          </div>
        </div>
        {{ end }}

      </div>
      {{ with i18n "popular-slots-for-casino" (dict "Name" .Params.Name)}}
      <h2>{{.}}</h2>
      {{ end }}
      <div class="slots-list">
        {{/* {{ range $pageTerms := (.GetTerms "software") }}
        {{ range $slotsArray := first 6 (shuffle (where $pageTerms.Pages "Section" "slot")) }}
        {{ partial "partials/parts/slots-6.html" . }}
        {{ end }}
        {{ end }} */}}
        {{ range $page := .Params.Slots }}
        {{ with $.Site.GetPage $page }}
        {{ partial "partials/parts/slots-6.html" . }}
        {{ end }}
        {{ end }}
      </div>
      {{ with i18n "screenshot" . }}
      <h2>{{.}}</h2>

      {{ end }}
      {{ with $screemshot := .Params.screenshot }}
      <div class="casino-screenshots">
        <amp-inline-gallery layout="container">
          <amp-base-carousel class="casino-screenshots" width="1060" height="560" layout="responsive"
            snap-align="center" loop visible-count="1" lightbox>
            {{ range $item := $screemshot }}
            {{$title := echoParam $item "title"}}
            {{$alt := echoParam $item "alt"}}
            {{$src := echoParam $item "src"}}
            <amp-img src="{{$src}}" data-src="{{$src}}" width="1060" height="560" class="screen-item" data-loaded="true"
              layout="responsive" alt="{{$alt}}">
            </amp-img>
            {{ end }}
          </amp-base-carousel>
          <amp-inline-gallery-pagination layout="nodisplay" inset>
          </amp-inline-gallery-pagination>
        </amp-inline-gallery>

        <div class="hidden">
          <button class="btn btn-yellow"
            data-link="{{cond (gt  (len $.Params.Referral) 1) $.Params.Referral $.Site.Params.Referral }}"
            style="cursor: initial;">{{ i18n "reg-btn" .}}</button>
        </div>

      </div>
      {{ end }}

      {{ with i18n "financial" . }}
      <h2>{{.}}</h2>
      {{ end }}


      <div class="financial-info">
        {{ if .Params.withdrawalT }}
        {{ partial "partials/parts/withdrawal-time.html" . }}
        {{ end }}
        {{ if .Params.Deposit }}
        {{ partial "partials/parts/deposit.html" . }}
        {{ end }}
        {{ if .Params.withdrawalM }}
        {{ partial "partials/parts/withdraw-methods.html" . }}
        {{ end }}
        {{ with .Params.Advantages }}
        {{ partial "partials/parts/advantages.html" . }}
        {{ end }}
      </div>

      {{ if or (.Params.Hits) (.Params.Gaps) }}
      {{ partial "partials/parts/hits-gaps.html" . }}
      {{ end }}

      <div class="visit-casino-btn">
        <button class="btn btn-yellow"
          data-link="{{cond (gt  (len .Params.Referral) 1) .Params.Referral .Site.Params.Referral }}"
          style="cursor: initial;">{{ i18n "reg-btn" .}}</button>
      </div>
    </div>
    {{/* {{Content}} */}}
    <div class="content-block">
      <div class="content-text">
        {{.Content}}
      </div>
    </div>
  </div>
</main>
{{ end }}
