{{ define "main" }}
{{/* {{ printf "%#v" .Params.software }} */}}
<main class="main" itemscope="" itemtype="http://schema.org/Casino">
  {{ partial "breadcrumbs.html" . }}
  <div class="container">
    <div class="casino-main-info">
      <meta itemprop="name" content="{{ .Params.Name }}">
      <meta itemprop="url" content="{{ .Site.BaseURL }}{{ .RelPermalink }}">
      <meta itemprop="priceRange" content="$$">
      <meta itemprop="logo image" content="{{ .Site.BaseURL }}{{ .Params.Thumbnail }}">
      <div style="display: none;" itemprop="aggregateRating" itemscope="" itemtype="http://schema.org/AggregateRating">
        <meta itemprop="itemReviewed" content="{{ .Params.Name }}">
        <meta itemprop="bestRating" content="100">
        <meta itemprop="worstRating" content="1">
        <meta itemprop="ratingValue" content="{{.Params.Rating }}">
        <meta itemprop="ratingCount" content="5">
      </div>
      <div class="cmi-left">
        <div class="casino-logo logo-shine" data-link="slotocash">
          {{$casinoImage := cond (gt (len .Params.Thumbnail) 1) .Params.Thumbnail .Site.Params.DefaultImg }}
          <amp-img src="{{ $casinoImage }}" data-src="{{ $casinoImage }}" alt="{{ .Params.Name }}"
            title="{{ .Params.Name }}" width="240" height="180" data-loaded="true"></amp-img>
        </div>
      </div>
      <div class="cmi-center">
        <h1>{{ .Params.H1 }}</h1>
        <div class="params">
          {{with .Params.Website }}
          <div class="param-row">
            <div class="param-name"><i class="param-site"></i>{{ i18n "website" . }}:</div>
            <div class="param-value"><span data-link="https://{{.}}" class="site-link">{{.}}</span></div>
          </div>
          {{end}}
          {{ with .Params.Software }}
          <div class="param-row">
            <div class="param-name"><i class="param-soft"></i>{{ i18n "soft" . }}:</div>
            <div class="param-value">
              {{ range $ind,$val := . }}
              {{ $path := print "/software/" $val ".md" | urlize}}
              {{- with site.GetPage $path -}}
              <a href="{{ .Permalink }}">{{ .Params.Name }}</a>
              {{- else -}}
              {{$val}}
              {{- end -}}
              {{if lt (add $ind 1) (len $.Params.Software ) }},{{end}}
              {{ end }}
            </div>
          </div>
          {{end}}

        </div>
        <div class="players-from-wrap">
          {{/* <div class="players-from">
            <div class="flag32x32 ua"></div>Players from UA
            accepted
          </div> */}}
          {{ with .Params.BonusCode }}
          <div class="casinopage-promocode param-promocode" data-copied="Copied">
            <div class="casinopage-promocode-title">{{ i18n "bonus-code" . }}:</div>
            <div class="casinopage-promocode-value code">{{.}}</div>
          </div>
          {{ end }}

        </div>
      </div>
      <div class="cmi-right">
        {{ with $arrayRating := .Params.CasinoRank}}
        {{$rating := 0}}
        <div class="rating">
          <div class="rate">
            {{ range $item := . }}
            {{$rank := echoParam $item `value`}}
            {{$rating = add $rating $rank}}
            {{ end }}
            {{$rating = div $rating (len $arrayRating ) }}
            {{$rating}}
          </div>
        </div>
        {{ end }}
        <div class="btns-wrap">
          <button class="btn btn-yellow"
            data-link="{{cond (gt  (len .Params.Referral) 1) .Params.Referral .Site.Params.Referral }}"
            style="cursor: initial;">{{ i18n "reg-btn" .}}</button>
          <div class="leave-comment" data-anchor="#leave-comment">{{ i18n "read-comment-btn" .}}</div>
        </div>
      </div>
    </div>
  </div>
  {{ with $anchors := .Params.pageAnchor }}
  <div class="anchors-block-wrap">
    <div class="container">
      <div class="anchors-block">
        {{ range $anchors }}
        <div class="anchor-item">
          {{ range $elem_key, $elem_val := . }}
          <span data-anchor="#{{ $elem_key }}">{{ $elem_val }}</span>
          {{ end }}
        </div>
        {{ end }}
      </div>
    </div>
  </div>
  {{ end }}

  <div class="container">
    <div class="content-block">
      {{ with i18n "casino-info" . }}
      <h2>{{.}}</h2>
      {{ end }}
      <div class="tabs l-2007">
        <div class="tabs-control">
          {{ range $key, $item := .Params.tabs }}
          <div class="tabs-switcher {{if eq $key 0}}active{{end}}" data-target="{{ echoParam $item `id`}}"><i
              class="tabs-{{ echoParam $item `id`}}"></i>{{ echoParam $item "title"}}
          </div>
          {{ end }}
        </div>
        <div class="tabs-content">
          {{ range $key, $item := .Params.tabs }}
          {{ $section := echoParam $item `id`}}
          <div class="tabs-item {{if eq $key 0}}open{{end}}" data-tab="{{ $section }}">
            <div class="casino-tabs-params">
              {{ range $params := $.Params.CasinoInfo }}
              {{ $id := echoParam $params `id` }}
              {{ $title := echoParam $params `title` }}
              {{ $value := echoParam $params `value` }}
              {{ $itemSection := echoParam $params `section` }}
              {{if(eq $section $itemSection)}}
              <div class="param-row">
                <div class="param-name"><i class="param-{{$id}}"></i>{{$title}}:</div>
                <div class="param-value">{{$value}}</div>
              </div>
              {{end}}
              {{end}}
            </div>
          </div>
          {{ end }}
        </div>
      </div>

      <div class="casino-three-blocks">
        {{ with $casinoGames := .Params.CasinoGames }}
        <div class="ctb-item">
          {{ with i18n "casino-games" . }}
          <div class="block-title">
            <h2>{{ . }}</h2>
          </div>
          {{ end }}
          <div class="block-content casino-options">
            {{ range $value := $casinoGames }}
            {{$title := echoParam $value "title"}}
            {{$status := echoParam $value "status"}}
            {{$image := echoParam $value "image"}}
            <div class="option-item status-{{$status}}">
              <div class="caption">{{$title}}</div>
              <i {{with $image}} style="background-image:url({{.}}) ;" {{end}}></i>
            </div>
            {{ end }}
          </div>
        </div>
        {{ end }}
        {{ with $casinoInfo := .Params.CasinoInfo }}
        <div class="ctb-item">
          {{ with i18n "welcome-bonus" . }}
          <div class="block-title">
            <h2>{{ . }}</h2>
          </div>
          {{ end }}
          <div class="block-content ctb-bonus">
            <div class="bonus">
              {{ range $params := $casinoInfo}}
              {{ $id := echoParam $params `id` }}
              {{ $value := echoParam $params `value` }}
              {{ if eq $id `welcome-bonus` }}
              {{- $value | safeHTML -}}
              {{ end }}
              {{ end }}
            </div>
            <div class="bonus-param">
              {{ range $params := $casinoInfo}}
              {{ $id := echoParam $params `id` }}
              {{ $title := echoParam $params "title" }}
              {{ $value := echoParam $params `value` }}
              {{ $section := echoParam $params `section2` }}
              {{ if (eq $section "welcome")}}
              <div class="param-row">
                <div class="param-name">{{$title}}:</div>
                <div class="param-value">{{$value}}</div>
              </div>
              {{end}}
              {{ end }}
            </div>

            <div class="bonus-terms">
              {{- with $.Params.Term -}}{{ . }}{{- end -}}
            </div>


            <div class="btn-wrap">
              <button class="btn btn-yellow"
                data-link="{{cond (gt  (len $.Params.Referral) 1) $.Params.Referral $.Site.Params.Referral }}"
                style="cursor: initial;">{{ i18n "get-bonus" .}}</button>
            </div>

          </div>
        </div>
        {{ end }}
        {{ with $casinoRank := .Params.CasinoRank }}
        {{$rating := 0}}
        <div class="ctb-item">
          {{ with i18n "casino-rank" . }}
          <div class="block-title">
            <h2>{{ . }}</h2>
          </div>
          {{ end }}
          <div class="block-content casino-ratings">
            <div class="ratings-list">
              {{ range $item := $casinoRank }}
              {{$title := echoParam $item "title" }}
              {{$value := echoParam $item "value" }}
              {{$rating = add $rating $value}}
              <div class="rating-row">
                <div class="rating-name">{{$title}}:</div>
                <div class="rating-value">{{$value}}</div>
              </div>
              {{ end }}
            </div>
            <div class="rating-total">
              <i class="sum-sign"></i>
              {{$rating = div $rating (len $casinoRank ) }}
              <div class="rate">{{$rating}}</div>
            </div>
          </div>
        </div>
        {{ end }}

      </div>
      {{ with i18n "popular-slots-for-casino" (dict "Name" .Params.Name)}}
      <h2>{{.}}</h2>
      {{ end }}
      <div class="slots-list">
        {{ range $pageTerms := (.GetTerms "software") }}
        {{ range $slotsArray := first 6 (shuffle (where $pageTerms.Pages "Section" "slot")) }}
        {{ partial "partials/parts/slots-6.html" . }}
        {{ end }}
        {{ end }}
      </div>
      {{ with i18n "screenshot" . }}
      <h2>{{.}}</h2>

      {{ end }}
      {{ with $screemshot := .Params.screenshot }}
      <div class="casino-screenshots">
        <amp-inline-gallery layout="container">
          <amp-base-carousel class="casino-screenshots" width="1060" height="560" layout="responsive"
            snap-align="center" loop visible-count="1" lightbox>
            {{ range $item := $screemshot }}
            {{$title := echoParam $item "title"}}
            {{$alt := echoParam $item "alt"}}
            {{$src := echoParam $item "src"}}
            <amp-img src="{{$src}}" data-src="{{$src}}" width="1060" height="560" class="screen-item" data-loaded="true"
              layout="responsive" alt="{{$alt}}">
            </amp-img>
            {{ end }}
          </amp-base-carousel>
          <amp-inline-gallery-pagination layout="nodisplay" inset>
          </amp-inline-gallery-pagination>
        </amp-inline-gallery>

        <div class="hidden">
          <button class="btn btn-yellow"
            data-link="{{cond (gt  (len $.Params.Referral) 1) $.Params.Referral $.Site.Params.Referral }}"
            style="cursor: initial;">{{ i18n "reg-btn" .}}</button>
        </div>

      </div>
      {{ end }}

      {{ with i18n "financial" . }}
      <h2>{{.}}</h2>
      {{ end }}


      <div class="financial-info">
        {{ if .Params.withdrawalT }}
        {{ partial "partials/parts/withdrawal-time.html" . }}
        {{ end }}
        {{ if .Params.Deposit }}
        {{ partial "partials/parts/deposit.html" . }}
        {{ end }}
        {{ if .Params.withdrawalM }}
        {{ partial "partials/parts/withdraw-methods.html" . }}
        {{ end }}
        {{ with .Params.Advantages }}
        {{ partial "partials/parts/advantages.html" . }}
        {{ end }}
      </div>

      {{ if or (.Params.Hits) (.Params.Gaps) }}
      {{ partial "partials/parts/hits-gaps.html" . }}
      {{ end }}

      <div class="visit-casino-btn">
        <button class="btn btn-yellow"
          data-link="{{cond (gt  (len .Params.Referral) 1) .Params.Referral .Site.Params.Referral }}"
          style="cursor: initial;">{{ i18n "reg-btn" .}}</button>
      </div>
    </div>
    {{/* {{Content}} */}}
    <div class="content-block">
      <div class="content-text">
        {{.Content}}
      </div>
    </div>

    <div class="content-block">
      <div class="comments-wrap" id="navigation_comments">
        <div class="h2" id="leave-comment">Leave a Feedback of {{ .Params.Name }}</div>

        <div class="comments">
          <div class="comment ticket-comment" id="comment-71" data-parent="0" data-newparent="0" data-id="71"
            itemprop="review" itemscope="" itemtype="http://schema.org/Review">
            <div class="comment-wrap">
              <div class="comment-item-left">
                <img src="template//images/ava.png" data-src="/images/avatars/3.jpg" alt="avatar" width="50" height="50"
                  class="user-avatar">
              </div>
              <div class="comment-item-right">
                <div class="comment-author-info">
                  <span class="comment-author-name" itemprop="author" itemscope=""
                    itemtype="http://schema.org/Person"><span itemprop="name">GeorgeH</span></span>
                  <span class="comment-date">13 december 2020, 12:10</span>
                  <meta itemprop="datePublished" content="2020.12.13">
                  <meta itemprop="itemreviewed" content="{{ .Params.Name }}">
                </div>
                <div class="comment-content" itemprop="reviewBody">
                  Cool online casino, I've been playing for more than 2 months after work and I get very decent
                  bonuses))
                </div>
              </div>
            </div>
            <div class="comment-reply">
              <a href="#" class="reply">Reply</a>
            </div>
          </div>
          <div class="comments-answer"></div>
          <div class="comment ticket-comment" id="comment-60" data-parent="0" data-newparent="0" data-id="60"
            itemprop="review" itemscope="" itemtype="http://schema.org/Review">
            <div class="comment-wrap">
              <div class="comment-item-left">
                <img src="template//images/ava.png" data-src="/images/avatars/11.jpg" alt="avatar" width="50"
                  height="50" class="user-avatar">
              </div>
              <div class="comment-item-right">
                <div class="comment-author-info">
                  <span class="comment-author-name" itemprop="author" itemscope=""
                    itemtype="http://schema.org/Person"><span itemprop="name">Bill Bob</span></span>
                  <span class="comment-date">11 december 2020, 14:19</span>
                  <meta itemprop="datePublished" content="2020.12.11">
                  <meta itemprop="itemreviewed" content="{{ .Params.Name }}">
                </div>
                <div class="comment-content" itemprop="reviewBody">
                  Played so far only in the demo version. Very cool slots, I will make my first deposit from my salary)
                </div>
              </div>
            </div>
            <div class="comment-reply">
              <a href="#" class="reply">Reply</a>
            </div>
          </div>
          <div class="comments-answer"></div>
          <div class="comment ticket-comment" id="comment-51" data-parent="0" data-newparent="0" data-id="51"
            itemprop="review" itemscope="" itemtype="http://schema.org/Review">
            <div class="comment-wrap">
              <div class="comment-item-left">
                <img src="template//images/ava.png" data-src="/images/avatars/9.jpg" alt="avatar" width="50" height="50"
                  class="user-avatar">
              </div>
              <div class="comment-item-right">
                <div class="comment-author-info">
                  <span class="comment-author-name" itemprop="author" itemscope=""
                    itemtype="http://schema.org/Person"><span itemprop="name">NarutoFan</span></span>
                  <span class="comment-date">07 december 2020, 16:37</span>
                  <meta itemprop="datePublished" content="2020.12.07">
                  <meta itemprop="itemreviewed" content="{{ .Params.Name }}">
                </div>
                <div class="comment-content" itemprop="reviewBody">
                  Thanks to your site administration for recommending this magical casino. It is magic, because I have
                  never lost! The toys here are so cool, I want to try everything. Well, handsome in general!
                </div>
              </div>
            </div>
            <div class="comment-reply">
              <a href="#" class="reply">Reply</a>
            </div>
          </div>
          <div class="comments-answer"></div>
          <div class="comment ticket-comment" id="comment-47" data-parent="0" data-newparent="0" data-id="47"
            itemprop="review" itemscope="" itemtype="http://schema.org/Review">
            <div class="comment-wrap">
              <div class="comment-item-left">
                <img src="template//images/ava.png" data-src="/images/avatars/10.jpg" alt="avatar" width="50"
                  height="50" class="user-avatar">
              </div>
              <div class="comment-item-right">
                <div class="comment-author-info">
                  <span class="comment-author-name" itemprop="author" itemscope=""
                    itemtype="http://schema.org/Person"><span itemprop="name">Anna Grey</span></span>
                  <span class="comment-date">07 december 2020, 15:30</span>
                  <meta itemprop="datePublished" content="2020.12.07">
                  <meta itemprop="itemreviewed" content="{{ .Params.Name }}">
                </div>
                <div class="comment-content" itemprop="reviewBody">
                  Nice casino. The devices fill up quite well, there were no problems with the withdrawal of money,
                  although sometimes there are small delays.
                </div>
              </div>
            </div>
            <div class="comment-reply">
              <a href="#" class="reply">Reply</a>
            </div>
          </div>
          <div class="comments-answer"></div>
          <div class="comment ticket-comment" id="comment-11" data-parent="0" data-newparent="0" data-id="11"
            itemprop="review" itemscope="" itemtype="http://schema.org/Review">
            <div class="comment-wrap">
              <div class="comment-item-left">
                <img src="template//images/ava.png" data-src="/images/avatars/8.jpg" alt="avatar" width="50" height="50"
                  class="user-avatar">
              </div>
              <div class="comment-item-right">
                <div class="comment-author-info">
                  <span class="comment-author-name" itemprop="author" itemscope=""
                    itemtype="http://schema.org/Person"><span itemprop="name">AmaliaS</span></span>
                  <span class="comment-date">27 november 2020, 12:09</span>
                  <meta itemprop="datePublished" content="2020.11.27">
                  <meta itemprop="itemreviewed" content="{{ .Params.Name }}">
                </div>
                <div class="comment-content" itemprop="reviewBody">
                  SlotoCash I really like the concept of this casino and the design is incredibly interesting. It can be
                  seen that the developers are not getting paid for nothing))
                </div>
              </div>
            </div>
            <div class="comment-reply">
              <a href="#" class="reply">Reply</a>
            </div>
          </div>
          <div class="comments-answer"></div>
        </div>

      </div>
      <h2>WHERE YOU CAN PLAY FOR REAL MONEY</h2>
      <div class="table-casinos">
        <div class="table-head">
          <div class="head-title">Online casino</div>
          <div class="head-rating">Rating</div>
          <div class="head-bonus">Welcome bonus</div>
          <div class="head-btns"></div>
        </div>
        <div class="table-body">
          <div class="casino-item">
            <div class="item-logo-wrap">
              <a href="/playamo-casino-review.html" class="item-logo logo-shine" rel="nofollow">
                <img
                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAAAyAQMAAACQ++z9AAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAANQTFRFAAAAp3o92gAAAAF0Uk5TAEDm2GYAAAAPSURBVHicY2AYBaNgaAIAArwAAbhhFwAAAAAASUVORK5CYII="
                  placeholders="template//images/placeholders/casino-logo-120x60.png"
                  data-src="//images/casino/play-amo-120-60 (2).png" alt="Playamo Casino" width="100" height="50">
              </a>
              <a href="/playamo-casino-review.html" class="item-title">Playamo Casino</a>
            </div>
            <div class="item-rating">
              <div class="rate">91</div>
            </div>
            <div class="item-bonus">
              <span>€150</span> Bonus + <span>150 Free Spins!</span>
            </div>
            <div class="item-btns">
              <button class="btn btn-yellow" data-link="playamo">Play now</button>
              <a href="/playamo-casino-review.html" rel="nofollow" class="item-link">Review</a>
            </div>
          </div>
          <div class="casino-item">
            <div class="item-logo-wrap">
              <a href="/joy-casino-review.html" class="item-logo logo-shine" rel="nofollow">
                <img
                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAAAyAQMAAACQ++z9AAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAANQTFRFAAAAp3o92gAAAAF0Uk5TAEDm2GYAAAAPSURBVHicY2AYBaNgaAIAArwAAbhhFwAAAAAASUVORK5CYII="
                  placeholders="template//images/placeholders/casino-logo-120x60.png"
                  data-src="//images/casino/joycasino-2.jpg" alt="JoyCasino" width="100" height="50">
              </a>
              <a href="/joy-casino-review.html" class="item-title">JoyCasino</a>
            </div>
            <div class="item-rating">
              <div class="rate">91</div>
            </div>
            <div class="item-bonus">
              <span>€2000</span> Welcome Bonus + <span>200 Free Spins!</span>
            </div>
            <div class="item-btns">
              <button class="btn btn-yellow" data-link="joycasino">Play now</button>
              <a href="/joy-casino-review.html" rel="nofollow" class="item-link">Review</a>
            </div>
          </div>
          <div class="casino-item">
            <div class="item-logo-wrap">
              <a href="/playojo-casino-review.html" class="item-logo logo-shine" rel="nofollow">
                <img
                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAAAyAQMAAACQ++z9AAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAANQTFRFAAAAp3o92gAAAAF0Uk5TAEDm2GYAAAAPSURBVHicY2AYBaNgaAIAArwAAbhhFwAAAAAASUVORK5CYII="
                  placeholders="template//images/placeholders/casino-logo-120x60.png"
                  data-src="//images/casino/playojo-online-casino-play-no-download.jpg" alt="Playojo Casino" width="100"
                  height="50">
              </a>
              <a href="/playojo-casino-review.html" class="item-title">Playojo Casino</a>
            </div>
            <div class="item-rating">
              <div class="rate">90</div>
            </div>
            <div class="item-bonus">
              <span>50 Free Spins</span> on 1st Deposit
            </div>
            <div class="item-btns">
              <button class="btn btn-yellow" data-link="playojo">Play now</button>
              <a href="/playojo-casino-review.html" rel="nofollow" class="item-link">Review</a>
            </div>
          </div>
          <div class="casino-item">
            <div class="item-logo-wrap">
              <a href="/kozmo-casino-review.html" class="item-logo logo-shine" rel="nofollow">
                <img
                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAAAyAQMAAACQ++z9AAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAANQTFRFAAAAp3o92gAAAAF0Uk5TAEDm2GYAAAAPSURBVHicY2AYBaNgaAIAArwAAbhhFwAAAAAASUVORK5CYII="
                  placeholders="template//images/placeholders/casino-logo-120x60.png"
                  data-src="//images/kozmo/kozmo-casino.jpg" alt="Kozmo Casino" width="100" height="50">
              </a>
              <a href="/kozmo-casino-review.html" class="item-title">Kozmo Casino</a>
            </div>
            <div class="item-rating">
              <div class="rate">90</div>
            </div>
            <div class="item-bonus">
              <span>50 Free Spins</span> Welcome Bonus
            </div>
            <div class="item-btns">
              <button class="btn btn-yellow" data-link="kozmo">Play now</button>
              <a href="/kozmo-casino-review.html" rel="nofollow" class="item-link">Review</a>
            </div>
          </div>
          <div class="casino-item">
            <div class="item-logo-wrap">
              <a href="/rizk-casino-review.html" class="item-logo logo-shine" rel="nofollow">
                <img
                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAAAyAQMAAACQ++z9AAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAANQTFRFAAAAp3o92gAAAAF0Uk5TAEDm2GYAAAAPSURBVHicY2AYBaNgaAIAArwAAbhhFwAAAAAASUVORK5CYII="
                  placeholders="template//images/placeholders/casino-logo-120x60.png"
                  data-src="//images/casino/rizk-casino-logo-mini.png" alt="Rizk Casino" width="100" height="50">
              </a>
              <a href="/rizk-casino-review.html" class="item-title">Rizk Casino</a>
            </div>
            <div class="item-rating">
              <div class="rate">89</div>
            </div>
            <div class="item-bonus">
              <span>100%</span> Up to €100 + <span>50 Free Spins on Book of Dead Slot!</span>
            </div>
            <div class="item-btns">
              <button class="btn btn-yellow" data-link="rizk">Play now</button>
              <a href="/rizk-casino-review.html" rel="nofollow" class="item-link">Review</a>
            </div>
          </div>
          <div class="casino-item">
            <div class="item-logo-wrap">
              <a href="/luckland-casino-review.html" class="item-logo logo-shine" rel="nofollow">
                <img
                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAAAyAQMAAACQ++z9AAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAANQTFRFAAAAp3o92gAAAAF0Uk5TAEDm2GYAAAAPSURBVHicY2AYBaNgaAIAArwAAbhhFwAAAAAASUVORK5CYII="
                  placeholders="template//images/placeholders/casino-logo-120x60.png"
                  data-src="//images/luckland/luckland-casino-online.jpg" alt="Luckland Casino" width="100" height="50">
              </a>
              <a href="/luckland-casino-review.html" class="item-title">Luckland Casino</a>
            </div>
            <div class="item-rating">
              <div class="rate">89</div>
            </div>
            <div class="item-bonus">
              <span>€1000</span> Welcome Bonus + <span>200 Free Spins!</span>
            </div>
            <div class="item-btns">
              <button class="btn btn-yellow" data-link="luckland">Play now</button>
              <a href="/luckland-casino-review.html" rel="nofollow" class="item-link">Review</a>
            </div>
          </div>
          <div class="casino-item">
            <div class="item-logo-wrap">
              <a href="/casumo-casino-review.html" class="item-logo logo-shine" rel="nofollow">
                <img
                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAAAyAQMAAACQ++z9AAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAANQTFRFAAAAp3o92gAAAAF0Uk5TAEDm2GYAAAAPSURBVHicY2AYBaNgaAIAArwAAbhhFwAAAAAASUVORK5CYII="
                  placeholders="template//images/placeholders/casino-logo-120x60.png"
                  data-src="//images/casumo/casumo-logo-2.jpg" alt="Casumo Casino" width="100" height="50">
              </a>
              <a href="/casumo-casino-review.html" class="item-title">Casumo Casino</a>
            </div>
            <div class="item-rating">
              <div class="rate">88</div>
            </div>
            <div class="item-bonus">
              Up to <span>€300</span> Bonus Package + <span>20 Free Spins on Book of Dead slot!</span>
            </div>
            <div class="item-btns">
              <button class="btn btn-yellow" data-link="casumo">Play now</button>
              <a href="/casumo-casino-review.html" rel="nofollow" class="item-link">Review</a>
            </div>
          </div>
          <div class="casino-item">
            <div class="item-logo-wrap">
              <a href="/bitstarz-casino-review.html" class="item-logo logo-shine" rel="nofollow">
                <img
                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAAAyAQMAAACQ++z9AAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAANQTFRFAAAAp3o92gAAAAF0Uk5TAEDm2GYAAAAPSURBVHicY2AYBaNgaAIAArwAAbhhFwAAAAAASUVORK5CYII="
                  placeholders="template//images/placeholders/casino-logo-120x60.png"
                  data-src="//images/bitstarz/bitstarz-logo-2.jpg" alt="Bitstarz" width="100" height="50">
              </a>
              <a href="/bitstarz-casino-review.html" class="item-title">Bitstarz</a>
            </div>
            <div class="item-rating">
              <div class="rate">88</div>
            </div>
            <div class="item-bonus">
              <span>$100 or 1 BTC + 180 free spins</span>
            </div>
            <div class="item-btns">
              <button class="btn btn-yellow" data-link="bitstarz">Play now</button>
              <a href="/bitstarz-casino-review.html" rel="nofollow" class="item-link">Review</a>
            </div>
          </div>
          <div class="casino-item">
            <div class="item-logo-wrap">
              <a href="/casino-room-review.html" class="item-logo logo-shine" rel="nofollow">
                <img
                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAAAyAQMAAACQ++z9AAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAANQTFRFAAAAp3o92gAAAAF0Uk5TAEDm2GYAAAAPSURBVHicY2AYBaNgaAIAArwAAbhhFwAAAAAASUVORK5CYII="
                  placeholders="template//images/placeholders/casino-logo-120x60.png"
                  data-src="//images/casino/casino-room-mini.png" alt="Casino Room" width="100" height="50">
              </a>
              <a href="/casino-room-review.html" class="item-title">Casino Room</a>
            </div>
            <div class="item-rating">
              <div class="rate">87</div>
            </div>
            <div class="item-bonus">
              <span>100%</span> up to <span>€1000</span> <span> + 100 Free Spins</span>
            </div>
            <div class="item-btns">
              <button class="btn btn-yellow" data-link="casinoroom">Play now</button>
              <a href="/casino-room-review.html" rel="nofollow" class="item-link">Review</a>
            </div>
          </div>
          <div class="casino-item">
            <div class="item-logo-wrap">
              <a href="/dunder-casino-review.html" class="item-logo logo-shine" rel="nofollow">
                <img
                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAAAyAQMAAACQ++z9AAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAANQTFRFAAAAp3o92gAAAAF0Uk5TAEDm2GYAAAAPSURBVHicY2AYBaNgaAIAArwAAbhhFwAAAAAASUVORK5CYII="
                  placeholders="template//images/placeholders/casino-logo-120x60.png"
                  data-src="//images/casino/dunder-mini.png" alt="Dunder Casino" width="100" height="50">
              </a>
              <a href="/dunder-casino-review.html" class="item-title">Dunder Casino</a>
            </div>
            <div class="item-rating">
              <div class="rate">87</div>
            </div>
            <div class="item-bonus">
              <span>$1000</span> Bonus + <span>100 Free Spins!</span>
            </div>
            <div class="item-btns">
              <button class="btn btn-yellow" data-link="dunder">Play now</button>
              <a href="/dunder-casino-review.html" rel="nofollow" class="item-link">Review</a>
            </div>
          </div>
          <div class="casino-item">
            <div class="item-logo-wrap">
              <a href="/casoo-casino-review.html" class="item-logo logo-shine" rel="nofollow">
                <img
                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAAAyAQMAAACQ++z9AAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAANQTFRFAAAAp3o92gAAAAF0Uk5TAEDm2GYAAAAPSURBVHicY2AYBaNgaAIAArwAAbhhFwAAAAAASUVORK5CYII="
                  placeholders="template//images/placeholders/casino-logo-120x60.png"
                  data-src="//images/casoo/casoo-logo-2.jpg" alt="Casoo" width="100" height="50">
              </a>
              <a href="/casoo-casino-review.html" class="item-title">Casoo</a>
            </div>
            <div class="item-rating">
              <div class="rate">87</div>
            </div>
            <div class="item-bonus">
              <span>200 Free Spins</span>
            </div>
            <div class="item-btns">
              <button class="btn btn-yellow" data-link="casoo">Play now</button>
              <a href="/casoo-casino-review.html" rel="nofollow" class="item-link">Review</a>
            </div>
          </div>
          <div class="casino-item">
            <div class="item-logo-wrap">
              <a href="/kaboo-casino-review.html" class="item-logo logo-shine" rel="nofollow">
                <img
                  src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGQAAAAyAQMAAACQ++z9AAAAAXNSR0IB2cksfwAAAAlwSFlzAAALEwAACxMBAJqcGAAAAANQTFRFAAAAp3o92gAAAAF0Uk5TAEDm2GYAAAAPSURBVHicY2AYBaNgaAIAArwAAbhhFwAAAAAASUVORK5CYII="
                  placeholders="template//images/placeholders/casino-logo-120x60.png"
                  data-src="//images/kaboo/kaboo-logo-2.jpg" alt="Kaboo Casino" width="100" height="50">
              </a>
              <a href="/kaboo-casino-review.html" class="item-title">Kaboo Casino</a>
            </div>
            <div class="item-rating">
              <div class="rate">87</div>
            </div>
            <div class="item-bonus">
              <span>100 Free Spins</span>
            </div>
            <div class="item-btns">
              <button class="btn btn-yellow" data-link="kaboo">Play now</button>
              <a href="/kaboo-casino-review.html" rel="nofollow" class="item-link">Review</a>
            </div>
          </div>
        </div>
      </div>

      <h3 id="navigation_faq">Frequently Asked Questions</h3>
      <div class="faq-blocks" itemscope="" itemtype="https://schema.org/FAQPage">
        <div class="faq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
          <div class="faq-header" itemprop="name">
            ⚡How to make a deposit at SlotoCash?
          </div>
          <div class="faq-content" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
            <div itemprop="text">
              In the event that you wish to make a store click on the "Clerk" button in the gambling club customer. You
              have a few store strategies to browse.
            </div>
          </div>
        </div>
        <div class="faq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
          <div class="faq-header" itemprop="name">
            ⚡How to withdraw winnings?
          </div>
          <div class="faq-content" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
            <div itemprop="text">
              To pull back your rewards, go to the "clerk" segment and adhere to the easy to understand guidelines. The
              withdrawal strategies we as of now offer are:, NETeller, EcoCard, Moneybookers and wire move (For US
              players as it were).
            </div>
          </div>
        </div>
        <div class="faq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
          <div class="faq-header" itemprop="name">
            ⚡Can a player withdraw Bonus?
          </div>
          <div class="faq-content" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
            <div itemprop="text">
              All deposit Bonuses are cashable at SlotoCash! Free no store rewards hold a most extreme cashout limit
              which is 5x the reward sum except if in any case indicated.
            </div>
          </div>
        </div>
        <div class="faq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
          <div class="faq-header" itemprop="name">
            ⚡How to make account at SlotoCash?
          </div>
          <div class="faq-content" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
            <div itemprop="text">
              When you have downloaded the record our product will approach you to pursue another record. You should
              simply enter a couple of subtleties and your enrollment is finished; you will at that point get an
              affirmation email with your one of a kind record subtleties. You can begin playing at the gambling club
              right away.
            </div>
          </div>
        </div>
        <div class="faq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
          <div class="faq-header" itemprop="name">
            ⚡How to receive a claim Bonus?
          </div>
          <div class="faq-content" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
            <div itemprop="text">
              To guarantee a store reward, pick the reward you need to guarantee from our advancements pages and
              afterward visit the Redeem Coupon screen in the clerk. Enter the coupon code, click the Redeem fasten and
              afterward click on the Deposit tab to make your store. When your store is finished the assets and the
              reward will be credited quickly.
            </div>
          </div>
        </div>
        <div class="faq" itemscope="" itemprop="mainEntity" itemtype="https://schema.org/Question">
          <div class="faq-header" itemprop="name">
            ⚡Are all money transactions secure?
          </div>
          <div class="faq-content" itemscope="" itemprop="acceptedAnswer" itemtype="https://schema.org/Answer">
            <div itemprop="text">
              Totally! SlotoCash framework uses a 128 piece SSL Digital Encryption to guarantee the security of every
              one of your exchanges. This innovation is exactly the same utilized by all major Financial Institutions to
              date.
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</main>
{{ end }}
