body {
  background: #fff;
  font-family: proxima_nova_rgregular, Arial, Helvetica;
  font-size: 14px;
  color: #555;
}
#wpadminbar ~ header {
  margin-top: 46px;
}
.header {
  display: block;
  background: #182f3a;
  border-bottom: 3px solid #ffa200;
  height: 70px;
}
.header .container {
  position: relative;
}
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 0px 10px;
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}
.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
}
.col-12 {
  flex: 0 0 100%;
  max-width: 100%;
}
img {
  vertical-align: middle;
  border-style: none;
  max-width: 100%;
  display: block;
  height: auto;
}
.header .logo {
  position: relative;
  top: 15px;
}
a.logo img {
  height: 40px;
}
.header .top-nav {
  position: absolute;
  right: 60px;
  top: 0;
}
.d-none {
  display: none;
}
ul {
  list-style: none outside none;
  margin: 0;
  padding: 0;
}
.header .top-nav ul li {
  display: inline-block;
}
.header .top-nav ul li a {
  line-height: 70px;
  padding: 0 15px;
  font-size: 10px;
}
.header .top-nav ul li a {
  display: inline-block;
  color: #fff;
  font-family: proxima_novasemibold, Arial, Helvetica;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  padding: 0 20px;
  background: rgba(0, 0, 0, 0.05);
  line-height: 93px;
}
.header .mobile-nav-icon {
  position: absolute;
  background: #ffa200;
  top: 8px;
  right: 0;
  width: 52px;
  height: 52px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
}
.header .mobile-nav-icon .icon {
  height: 26px;
  width: 32px;
  display: block;
  text-align: center;
  line-height: 32px;
  font-weight: 700;
  font-size: 0;
  vertical-align: bottom;
  margin: auto;
  position: relative;
  cursor: pointer;
}
.header .mobile-nav-icon .icon u {
  background: #fff;
  width: 20px;
  height: 2px;
  position: absolute;
  left: 5px;
  transition: all ease-in 0.6s;
  -webkit-transition: all ease-in 0.5s;
}
.header .mobile-nav-icon .icon u.ma {
  top: 8px;
}
.header .mobile-nav-icon .icon u.mb {
  top: 17px;
}
.header .mobile-nav-icon .icon.active u.ma {
  top: 12px;
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
.header .mobile-nav-icon .icon.active u.mb {
  top: 12px;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.main-nav {
  background: #222;
  border: 0;
}
.main-nav * {
  background: #222;
}
.main-nav .container {
  max-width: 100%;
  padding: 0;
  margin: 0;
}
.main-nav ul.hide {
  display: none;
}
.main-nav ul.show {
  display: block;
  margin-top: 20px;
}
.footer .first-row,
.main-nav ul li {
  display: block;
}
.main-nav ul li a,
.main-nav ul li span.drop {
  border-bottom: 1px solid #333;
}
.main-nav ul li a,
.main-nav ul li span.drop {
  font-family: proxima_novasemibold, Arial, Helvetica;
  font-weight: 200;
  display: block;
  padding: 2px 20px 0;
  color: #fff;
  line-height: 40px;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
}
.content.active {
  position: relative;
  top: 160px;
}
.block.removeBottomMargin {
  margin-bottom: 0;
}
